<div class="center min-height:100vh">
  <div class="stack">
    <div></div>
    <div class="cluster">
      <h3>
        <div>Show me all comments from user</div>
        <%= form_for user_comments_comments_url, method: :get do |f| %>
          <%= select_tag :username, options_from_collection_for_select(Author.all, "name", "name", params[:username]), {include_blank: true, class: 'width:min-content' } %>
          <%= f.submit 'View' %>
        <% end %>
      </h3>
    </div>

    <table class="stack-split">
      <thead>
        <tr>
          <td>Author</td>
          <td>Content</td>
          <td>Posted on</td>
        </tr>
      </thead>
      <tbody>
        <% if @user_comments.present? %>
          <%= render @user_comments %>
        <% else %>
          <%= render "empty" %>
        <% end %>
      </tbody>
    </table>
    <div >
      <%= link_to 'Go to People UI', root_path %>

    </div>
    <div></div>
    <div></div>
  </div>


</div>
